class Config:
    THREADS_COUNT  = 15
    LOG_LEVEL      = 20 # OR logging.INFO | Debug = 10
    QUEUE_MAX_SIZE = 500
    START_LETTER = ''

    DATABASE_HOST     = None
    DATABASE_USER     = None
    DATABASE_PASSWORD = None
    DATABASE_PORT     = None

    PROXY_LIST_DIR = 'get_sd_ou/proxylist.txt'