class Config:
    THREADS_COUNT  = 1
    LOG_LEVEL      = 20 # OR logging.INFO | Debug = 10
    QUEUE_MAX_SIZE = 100
    
    START_LETTER = ''
    END_LETTER   = 'z'

    DATABASE_HOST     = "localhost"
    DATABASE_USER     = "root"
    DATABASE_PASSWORD = ""
    DATABASE_PORT     = "3306"

    PROXIES_DIR = {'http':"proxies/http.txt",
                   'socks4':"proxies/socks4.txt",
                   'socks5':"proxies/socks5.txt",
                   }
    
    USE_PROXY = False

    ARTICLES_URL_PATH = ""